.intro {
    text-align: center;
}

.intro h1 {
    font-size: 2.5rem;

}

.contact {
    display: flex;
    max-width: 1200px;
    padding: 50px 30px;
    justify-content: space-between;
    margin-left: 80px;
}

.contact-info h2, .contact-form h2 {
    margin-bottom: 50px;
    color: rgb(124, 197, 7);
}

.contact-info p {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea {
    width: 300px;
    padding: 10px;
}

button {
    background-color: rgb(124, 197, 7);
    color: black;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
}
