* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5px;
    padding-top: 200px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(124, 197, 7);
    border-radius: 5px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: orange;
    transition: 0.2s;
}

hr {
    background-color: greenyellow;
    color: greenyellow;
    padding: 3px 8px;
    border: none;
    border-radius: 15px;
}

footer {
    background-color: rgb(25, 31, 16);
    padding: 50px 40px;
    color: beige;
    text-align: center;
}

.logo img {
    width: 50px;
    height: 50px;

}