.intro {
    text-align: center;
}

.intro a {
    background-color: rgb(124, 197, 7);
    text-decoration: none;
    padding: 25px 40px;
    display: inline-block;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: large;
}

.intro h1 {
    font-size: 2.5rem;
}

.intro a:hover {
    padding: 30px 45px;
    transition: 0.3s;
    background-color: rgb(157, 199, 90);
}

.ontoday {
    display: flex;
    gap: 2rem;
    margin: 2rem auto;
    padding-bottom: 30px;
    justify-content: center;

}

.todaysdishes {
    overflow: hidden;
    border-radius: 10px;
    background-color: #e2fac9;
    transition: transform 0.3s;
}

.todaysdishes img {
    height: 400px;
    background-size: cover;
    background-position: center;
}

.todaysdishes h4 {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}

.todaysdishes p {
    text-align: center;
    padding: 0.5rem;
}

.todaysdishes span {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    display: block;
}

.logo img {
    width: 50px;
    height: 50px;

}